@model HTPIFoundation.Models.Paiement

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Paiement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontantPayer" class="control-label"></label>
                <input asp-for="MontantPayer" class="form-control" />
                <span asp-validation-for="MontantPayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePayement" class="control-label"></label>
                <input asp-for="DatePayement" class="form-control" />
                <span asp-validation-for="DatePayement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoyenPayement" class="control-label"></label>
                <input asp-for="MoyenPayement" class="form-control" />
                <span asp-validation-for="MoyenPayement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDTransaction" class="control-label"></label>
                <input asp-for="IDTransaction" class="form-control" />
                <span asp-validation-for="IDTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Avance_accord" /> @Html.DisplayNameFor(model => model.AvanceAccord)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MontantAvance" class="control-label"></label>
                <input asp-for="MontantAvance" class="form-control" />
                <span asp-validation-for="MontantAvance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MembreAvanceID" class="control-label"></label>
                <input asp-for="MembreAvanceID" class="form-control" />
                <span asp-validation-for="MembreAvanceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
